html
	head
	style
		include normalize.css
	title= title
	body
		include nav
		p= message

			if customers
				each customer in customers
					div #{customer.name}: #{customer.address}, #{customer.suburb}
